.page {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
}
.header {
  max-width: 1140px;
  width: 100%;
  padding: 48px 15px 24px 15px;
  margin: 0 auto;
  &__col-4 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 33.3%;
    -ms-flex: 0 0 33.3%;
    flex: 0 0 33.3%;
    max-width: 33.3%;
    position: relative;
    width: 100%;
    padding: 0 15px;
  }
  &__col-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    position: relative;
    width: 100%;
    padding: 0 15px;
  }
  &__col-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6%;
    -ms-flex: 0 0 66.6%;
    flex: 0 0 66.6%;
    max-width: 66.6%;
    position: relative;
    width: 100%;
    padding: 0 15px;
  }
  &__row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
.input {
  width: calc(100% - 50px);
  padding: 0.375rem 0.75rem;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  height: 50px;
  border-radius: 40px;
  &-focus {
    outline: none;
  }
}
.logo {
  text-align: center;
}
.search-form {
  width: 300px;
  height: 50px;
  margin-left: auto;
  &__content {
    width: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: rgba(0, 0, 0, 0.05);
    overflow: hidden;
    border-radius: 40px;
  }
}
.social-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__icon {
    color: #4d4d4d;
    font-size: inherit;
  }
  &__item {
    width: 50px;
    height: 50px;
    margin: 0 2px;
  }
  &__link {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.05);
    text-decoration: none;
    -webkit-transition: 0.3s all ease;
    -o-transition: 0.3s all ease;
    transition: 0.3s all ease;
    &-hover {
      &:hover {
        background-color: #4e9525;
        .social-list__icon {
          color: #fff;
        }
      }
    }
  }
}
.button {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  &__icon {
    font-size: 16px;
    color: #fff;
  }
  &__inner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: #4e9525 !important;
    border-radius: 50%;
    cursor: pointer;
  }
}

@media screen and (max-width: 767.98px) {
  .header {
    max-width: 540px;
    &__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
      -webkit-flex-direction: column-reverse;
      -ms-flex-direction: column-reverse;
      flex-direction: column-reverse;
    }
    &__col-4,
    &__col-6,
    &__col-8 {
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
    &__col-6 {
      &-order {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -ms-flex-order: 2;
        order: 2;
      }
    }
  }
  .search-form {
    width: 100%;
    margin: 30px 0 20px 0;
  }
  .social-list {
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}
@media screen and (max-width: 575.98px) {
  .header {
    max-width: 100%;
  }
}
@media screen and (max-width: 991.98px) {
  .header {
    max-width: 720px;
  }
}
