@import "./common-blocks/header/header";
@import "./common-blocks/main/navbar/navbar";
@import "./common-blocks/main/welcome/welcome";
@import "./common-blocks/main/lawn-services/services";

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body{
  line-height: 1.8;
}