.page {
  margin: 0;
  padding: 0;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
}

.header {
  max-width: 1140px;
  width: 100%;
  padding: 48px 15px 24px 15px;
  margin: 0 auto;
}

.header__col-4 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33.3%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.header__col-6 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.header__col-8 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 66.6%;
  flex: 0 0 66.6%;
  max-width: 66.6%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.input {
  width: calc(100% - 50px);
  padding: 0.375rem 0.75rem;
  border: none;
  background: transparent;
  color: rgba(0, 0, 0, 0.7);
  font-size: 14px;
  height: 50px;
  border-radius: 40px;
}

.input-focus {
  outline: none;
}

.logo {
  text-align: center;
}

.search-form {
  width: 300px;
  height: 50px;
  margin-left: auto;
}

.search-form__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.05);
  overflow: hidden;
  border-radius: 40px;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.social-list__icon {
  color: #4d4d4d;
  font-size: inherit;
}

.social-list__item {
  width: 50px;
  height: 50px;
  margin: 0 2px;
}

.social-list__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.05);
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.social-list__link-hover:hover {
  background-color: #4e9525;
}

.social-list__link-hover:hover .social-list__icon {
  color: #fff;
}

.button {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
}

.button__icon {
  font-size: 16px;
  color: #fff;
}

.button__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: #4e9525 !important;
  border-radius: 50%;
  cursor: pointer;
}

@media screen and (max-width: 767.98px) {
  .header {
    max-width: 540px;
  }
  .header__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
  .header__col-4, .header__col-6, .header__col-8 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .header__col-6-order {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
  .search-form {
    width: 100%;
    margin: 30px 0 20px 0;
  }
  .social-list {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

@media screen and (max-width: 575.98px) {
  .header {
    max-width: 100%;
  }
}

@media screen and (max-width: 991.98px) {
  .header {
    max-width: 720px;
  }
}

.nav-toggle {
  display: none;
  border: none;
  background: none;
  cursor: pointer;
}

.nav-toggle__icon {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.5);
}

.nav-toggle__inner {
  letter-spacing: 0.1em;
  font-size: 16px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.5);
}

.navbar {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  background: #4e9525;
}

.navbar__collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.navbar__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__link {
  position: relative;
  padding: 24px 20px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
}

.navbar__link::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #fbd341;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.navbar__link-hover:hover::before {
  width: 100%;
}

.navbar__link-active {
  color: #fbd341;
}

.navbar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 991.98px) {
  .navbar__collapse {
    display: none;
  }
  .navbar__collapse-show {
    display: block;
  }
  .navbar-md {
    background: #000;
    padding: 10px 15px;
  }
  .navbar__nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .navbar__link {
    display: block;
    padding: 0.7rem 0;
    color: rgba(255, 255, 255, 0.5);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .navbar__link-hover:hover {
    color: #fff;
  }
  .navbar__link-active {
    color: #fff;
  }
  .nav-toggle {
    display: block;
  }
}

.welcome {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  min-height: 600px;
  background: url("images/welcome__bg.webp");
  background-color: rgba(0, 0, 0, 0);
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.welcome__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
}

.welcome__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin-top: 1.5rem;
  padding: 0.5rem 1.5rem;
  background: #4e9525;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
}

.welcome__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.welcome__subtitle {
  font-size: 15px;
  color: #fbd341;
  text-transform: uppercase;
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 800;
}

.welcome__text {
  margin: 0;
  font-size: 18px;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.7);
}

.welcome__title {
  margin: 0.5rem 0;
  font-size: 60px;
  color: #fff;
  line-height: 1.2;
  font-weight: 700;
  font-family: "Poppins", Arial, sans-serif;
}

@media screen and (min-width: 768px) {
  .welcome__container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .welcome__container {
    max-width: 960px;
  }
}

@media screen and (max-width: 767.98px) {
  .welcome {
    min-height: 350px;
  }
  .welcome__container {
    max-width: 540px;
  }
  .welcome__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .welcome__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .welcome__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 991.98px) {
  .welcome__title {
    font-size: 40px;
  }
}

@media screen and (max-width: 575.98px) {
  .welcome__container {
    width: 100%;
    padding: 0 15px;
  }
}

.lawn-services {
  padding: 3rem 0;
}

.lawn-services__col-3 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 25%;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;
  width: 100%;
  padding: 0 15px;
  -webkit-box-ordinal-group: 3;
  -ms-flex-order: 2;
  order: 2;
}

.lawn-services__col-9 {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.lawn-services__container {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.lawn-services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.service-content__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 1rem 1.5rem;
  background-color: #4e9525;
  text-decoration: none;
  color: #fff;
}

.service-content__subtitle {
  font-size: 16px;
  display: block;
  margin-bottom: 5px;
  font-weight: 700;
  color: #4e9525;
}

.service-content__text {
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  color: gray;
}

.service-content__title {
  margin: 0;
  font-size: 30px;
  font-weight: 700;
}

.services__col {
  -webkit-box-flex: 0;
  -ms-flex: 0 0 33.3%;
  flex: 0 0 33.3%;
  max-width: 33.3%;
  position: relative;
  width: 100%;
  padding: 0 15px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.services-item {
  width: 100%;
  background: #fff;
  padding: 20px;
  position: relative;
  border-radius: 4px;
  text-align: center;
  -webkit-box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 30px -4px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  text-align: center;
}

.services-item__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.05);
  margin-bottom: 10px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.services-item__link {
  position: absolute;
  bottom: -35px;
  left: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #4e9525;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  opacity: 0;
}

.services-item__link i {
  font-size: 10px;
  line-height: 50px;
  color: #fff;
}

.services-item__icon {
  color: #4e9525;
  font-size: 40px;
}

.services-item__text {
  margin-bottom: 1rem;
  color: gray;
}

.services-item__title {
  font-size: 18px;
  font-weight: 600;
}

.services-item-hover:hover .services-item__header {
  background: #4e9525;
}

.services-item-hover:hover .services-item__icon {
  color: #fbd341;
}

.services-item-hover:hover .services-item__link {
  opacity: 1;
  bottom: -25px;
}

@media screen and (min-width: 768px) {
  .lawn-services__container {
    max-width: 720px;
  }
}

@media screen and (min-width: 992px) {
  .lawn-services__container {
    max-width: 960px;
  }
}

@media screen and (max-width: 575.98px) {
  .lawn-services__container {
    width: 100%;
    padding: 0 15px;
  }
}

@media screen and (max-width: 767.98px) {
  .lawn-services {
    min-height: 350px;
  }
  .lawn-services__container {
    max-width: 540px;
  }
  .lawn-services__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .lawn-services__col-3 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .services__col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
  .services-item {
    margin-bottom: 30px;
  }
  .service-content {
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 991.98px) {
  .lawn-services__col-3, .lawn-services__col-9 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  line-height: 1.8;
}
/*# sourceMappingURL=style.css.map */